In [3]:
import pandas as pd

In [4]:
age = [11,22,33,44,55]
name = ['a','b','c','d','f']
sex = ['male','male','female','female','male']
df = pd.DataFrame({'name':name,'age':age,'sex':sex},index = ['A','B','C','D','E'])
print(df)

  name  age     sex
A    a   11    male
B    b   22    male
C    c   33  female
D    d   44  female
E    f   55    male

In [22]:
print(df.loc['B':'D', ['name', 'sex']])

  name     sex
B    b    male
C    c  female
D    d  female

In [21]:
print(df.iloc[2:4,[0,2]])

  name     sex
C    c  female
D    d  female

In [31]:
df.loc[:,'age'] > 20

A    False
B     True
C     True
D     True
E     True
Name: age, dtype: bool

In [37]:
print(df.loc[df.loc[:,'age'] > 40])

  name  age     sex
D    d   44  female
E    f   55    male

In [34]:
df[df.loc[:,'age'] > 20]

  name  age     sex
B    b   22    male
C    c   33  female
D    d   44  female
E    f   55    male

In [45]:
df

  name  age     sex
A    a   11    male
B    b   22    male
C    c   33  female
D    d   44  female
E    f   55    male

In [49]:
type(df.index)

pandas.core.indexes.base.Index

In [51]:
df.index

Index(['A', 'B', 'C', 'D', 'E'], dtype='object')

In [13]:
df.index[df.loc[:,'sex'] == 'male']

Index(['A', 'B', 'E'], dtype='object')

In [17]:
df = df.drop(df.columns[df.loc['A',:] == 'a'],axis = 1)
df

   age     sex
A   11    male
B   22    male
C   33  female
D   44  female
E   55    male

In [18]:
import numpy as np
import pandas as pd
import sklearn
import matplotlib as mlp
import seaborn as sns
import re,pip,conda

In [19]:
for package in [sklearn,mlp,np,pd,sns,pip,conda]:
    print(re.findall("([^']*)" ,str(package))[2],package.__version__)

sklearn 0.24.2
matplotlib 3.3.4
numpy 1.19.2
pandas 1.1.5
seaborn 0.8.1
pip 21.1.1
conda 4.10.3